<div class="row">
    <div class="col-sm-3" *ngFor="let sk of mentorList">
      <div class="card mx-auto">
        <div class="card-body">
        <b>Rating : </b>{{sk.rating}}<br>
   <b>Years Of Experience : </b>{{sk.experience}}<br>
    
      <b>Trainings Deliverd : </b>{{sk.trainings}}<br>
    
  
     <b>Facilities Offered: </b>{{sk.facilities}}<br>
 
      <b>Mentor Name: </b>{{sk.mentorId.userID}}<br>

      <b>Mentor Contact :</b>{{sk.mentorId.contactNo}}<br>

      <b>LinkedInUrl : </b>{{sk.mentorId.linkedInUrl}}<br>

      <b>Email : </b>{{sk.mentorId.email}}<br>

      <b>Years Of Experience : </b>{{sk.mentorId.yearsOfExperience}}
</div>

<div *ngIf="this.authService.loggedIn">
  <button type="button" class="btn btn-dark text-light" (click)="book(sk.mentorId.userID,this.authService.username,sk.skillId.skillName)">Book</button>
    </div></div> </div></div>

<!-- <div class="row">
    <div class="col-sm-3" *ngFor="let sk of skill">
      <div class="card mx-auto">
        <div class="card-body">
            
         <b>Skill Name : </b>{{sk.skillName}}
         <br>
         <b>Table Of Contents : </b>{{sk.tableOfContents}}
         <br>
         <b>Prerequites : </b>{{sk.prerequites}}
         <br>
         <b>Duration : </b>{{sk.duration}}
         <br>
         <button type="button" class="btn button-color text-white">Book</button>
        </div>
      </div>
    </div> -->
   