<div class="container mb-4 pb-4">
        <h2>Skill Details</h2>
    
        <form class="needs-validation" [formGroup]="editForm">
            <!-- <div class="form-row">
                <div class="form-group col-md-12 mb-3">
                    <label for="userID">mentorName</label>
                    <input type="text" class="form-control"  [(ngModel)]="userID" value={{userID}} id="userID" formControlName="userID" disabled>
    
                </div>
                
                <div class="form-group col-md-12 mb-3">
                    <label for="skillname">skillname</label>
                    <input type="text" class="form-control" id="skillname" value="skillname" [(ngModel)]="skillname" formControlName="skillname" disabled>
    
                </div>
            </div> -->
            <div class="form-row">
                <div class="form-group col-md-3 mb-3">
                    <label for="rating">rating</label>
                    <input type="text" class="form-control" id="rating" formControlName="rating"
                        placeholder="rating">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3 mb-3">
                    <label for="experience">yearsOfExperience</label>
                    <input type="text" class="form-control" id="experience" formControlName="experience"
                        placeholder="experience" >
                </div>
    
                <div class="form-group col-md-3 mb-3">
                    <label for="trainings">trainingdelivered</label>
                    <input type="text" class="form-control" id="trainings" formControlName="trainings"
                        placeholder="trainingdelivered">
                </div>
            </div>
            
    
            <div class="form-row">
                <div class="form-group col-md-3 mb-3">
                    <label for="facilities">FacilitiesOffered</label>
                    <input type="text" class="form-control" id="facilities" formControlName="facilities" placeholder="facilities">
            </div>
                </div>

            <div class="row mt-5 ml-5 mr-5 mb-5">
                <div class="col-12">
                    <button type="submit" class="btn button-color text-light" (click)="submit(editForm.value)" >Submit</button>
                </div>
            </div>
    
        </form>
    </div>
    
    


